{% extends  'main/base.html' %}

{% block  title %}
Про проект
{% endblock %}

{% block  content %}
    <h1>Курсова робота</h1>
    <h3>Виконав: Кузьо Юрій</h3>
    <h3>Група: Феі-23</h3>
    <p>
        Я розробив цей сайт, щоб продемонструвати свої вміння в області веб-розробки.
        <br>Для цього проекту я використав веб-фреймворк Django.
        <br>Цей веб-ресурс може слугувати базою для розробки багатофункціонального сайту
        <br>з обчислювальнимим можливостями.
        <br><br>
        Якщо на нашому ресурсі ви не знайшли потрібний вам функціонал, спробуйте схожі веб-сайти:
    </p>
    <a href="https://www.symbolab.com/">
        <div class="link">
            <h4>Symbolab</h4>
        </div>
    </a>
    <a href="https://www.wolframalpha.com/">
        <div class="link">
             <h4>Wolfram-alpha</h4>
        </div>
    </a>
    <a href="https://www.mathway.com/Algebra">
        <div class="link">
             <h4>Mathway</h4>
        </div>
    </a>
    <a href="https://www.online-calculator.com/">
        <div class="link">
             <h4>Online calculator</h4>
        </div>
    </a>

{% endblock %}
