body{
    background-color: rgb(36, 31, 31);
    color:#fff;
}
.alert{
    border-color: rgb(0, 0, 0);
    background-color: #e4c87d;
    width: 40%;
}
.danger{
    width: 50%;
}
form{
    width: 20%;
}
.link
{
   color:rgb(110, 110, 110);
   text-decoration: none; 
   background-color: none;
}