{% extends 'main/base.html' %}

{% block title %}
Розв'язування квадратного рівняння
{% endblock %}

{% block content %}
    <h1>Розв'язування квадратного рівняння</h1>
    <h2>
        <div class="verybigtext" align="left">ax<sup>2</sup> + bx + c = 0</div>
    </h2>
    <form method="post">
        {% csrf_token %}
        {{ form.equation }}
        {{ form.data }}
        <input type="text" placeholder="Введіть значення а, b, c" class="form-control"><br>
        <button type="submit" class="btn btn-success">Порахувати</button>
        <span>{{ error }}</span> 
    </form>
{% endblock %}